<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="olx_chatbox.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <title> chat box </title>
</head>

<body>

    <!--==================== *  Navbar * =============================  -->
    <div class="header">
        <div class="navbar">




            <!--<img src="image.jpg">-->






            <div class="location_select" id="contry">
                <div class="select">
                    <p id="text"> Select Your Location </p>
                    <i class="fa-solid fa-chevron-down" id="moving"></i>
                </div>


                <ul class="option_box" id="list">
                    <li class="option" onclick="myfunction('Barak')">
                        <i class="fa-solid fa-location-dot"></i>
                        <p>Barak</p>
                    </li>
                    <li class="option" onclick="myfunction('Brahmaputra')">
                        <i class="fa-solid fa-location-dot"></i>
                        <p>Brahmaputra</p>
                    </li>
                    <li class="option" onclick="myfunction('Dhansiri')">
                        <i class="fa-solid fa-location-dot"></i>
                        <p>Dhansiri</p>
                    </li>
                    <li class="option" onclick="myfunction('Dihing')">
                        <i class="fa-solid fa-location-dot"></i>
                        <p>Dihing</p>
                    </li>
                    <li class="option" onclick="myfunction('Disang')">
                        <i class="fa-solid fa-location-dot"></i>
                        <p>Disang</p>
                    </li>
                    <li class="option" onclick="myfunction('Kameng')">
                        <i class="fa-solid fa-location-dot"></i>
                        <p>Kameng</p>
                    </li>
                    <li class="option" onclick="myfunction('Kapili')">
                        <i class="fa-solid fa-location-dot"></i>
                        <p>Kapili</p>
                    </li>
                    <li class="option" onclick="myfunction('Lohit')">
                        <i class="fa-solid fa-location-dot"></i>
                        <p>Lohit</p>
                    </li>
                    <li class="option" onclick="myfunction('Manas')">
                        <i class="fa-solid fa-location-dot"></i>
                        <p>Manas</p>
                    </li>
                    <li class="option" onclick="myfunction('MSH')">
                        <i class="fa-solid fa-location-dot"></i>
                        <p>MSH</p>
                    </li>
                    <li class="option" onclick="myfunction('Siang')">
                        <i class="fa-solid fa-location-dot"></i>
                        <p>Siang</p>
                    </li>
                    <li class="option" onclick="myfunction('Subansiri')">
                        <i class="fa-solid fa-location-dot"></i>
                        <p>Subansiri</p>
                    </li>
                    <li class="option" onclick="myfunction('Umiam')">
                        <i class="fa-solid fa-location-dot"></i>
                        <p>Umiam</p>
                    </li>
                </ul>
            </div>





            <div class="search_box">
                <input type="text" class="searchclass" id="searchid" placeholder="Find Bicycles, Books and More....">
                <p> <i class="fa-solid fa-magnifying-glass"></i> </p>
            </div>




            <div class="language">
                <p id="eng_tag"> English </p>

                <ul class="hin_eng">
                    <li onclick="languageolx('English')"> English </li>
                    <li onclick="languageolx('हिन्दी')">हिन्दी</li>
                </ul>

            </div>




            <div class="message">
                <i class="fa-regular fa-comment"></i>
            </div>




            <div class="notification">
                <i class="fa-regular fa-bell"></i>
            </div>





            <div class="your_logo">
                <div class="logo" id="logo_id">
                    <i class="fa-solid fa-user"></i>
                </div>

                <div class="dropdwon" id="gropdwonid">
                    <div class="nameandimg">
                        <p> Khwmtha Basumatary </p>
                    </div>

                    <ul>
                        <li>
                            <i class="fa-regular fa-user"></i>
                            <p>My Account</p>
                        </li>
                        <li>
                            <i class="fa-solid fa-box"></i>
                            <p>My Orders</p>
                        </li>
                        <hr>
                        <li>
                            <i class="fa-regular fa-circle-question"></i>
                            <p>Help</p>
                        </li>
                        <li>
                            <i class="fa-solid fa-gear"></i>
                            <p>Setting</p>
                        </li>
                        <hr>

                        <li>
                            <i class="fa-solid fa-right-from-bracket"></i>
                            <p>Log Out</p>
                        </li>

                    </ul>
                </div>
            </div>





            <div class="selling_page">
                <button> 
                    <p>SELL</p>
                </button>
            </div>


        </div>
    </div>



    <!--==================== *  chat box* =============================  -->


    <div class="chat_box">

        <div class="heading_chatbox">
            <div class="name_chat">
                <h2> Samiran </h2>
            </div>
            <i class="fa-solid fa-x"></i>
        </div>

        <div class="see_chat">
            <h3 id="message"> </h3>
        </div>

        <div class="send_message">
            <input type="text" placeholder="Type a message" id="text_message">
            <input type="text" placeholder="Type a message" id="demo">
            <i class="fa-solid fa-paper-plane" id="sand_icon"></i>
        </div>


    </div>



    <script>
        // ==================== *  Navbar * ============================= 

        let hostel = document.getElementById('contry');
        let moving = document.getElementById('moving');
        let text = document.getElementById('text');
        let list = document.getElementById('list');

        hostel.addEventListener('click', () => {
            list.classList.toggle('hidden');
            moving.classList.toggle('roted');
        });
        function Myfunction(omkar) {
            text.innerHTML = omkar;
        }



        let eng_tag = document.getElementById('eng_tag');
        let hin_eng = document.querySelector('.hin_eng');
        let language = document.querySelector('.language');


        language.addEventListener('click', () => {
            hin_eng.classList.toggle('display_div');
        });
        function languageolx(anyone) {
            eng_tag.innerHTML = anyone;
        }



        let logo_id = document.getElementById('logo_id');
        let gropdwonid = document.getElementById('gropdwonid');

        logo_id.addEventListener('click', () => {
            gropdwonid.classList.toggle('block_div')
        });



        // ==================== *  chat box * ============================= 

        let sand_icon = document.getElementById('sand_icon');
        let message = document.getElementById('message');
        let text_message = document.getElementById('text_message');
        let demo = document.getElementById('demo');


        sand_icon.addEventListener('click', () => {
            message.innerHTML = text_message.value;
            message.style = 'display: block';
            text_message.value = demo.value
        })


    </script>

</body>

</html>